<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Webchat</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/assets/favicon.png">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"
      integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src='/static/main.js'></script>
  </head>
  <body>
    <div id="top-bar">
      <h1>Webchat</h1>
    </div>

    <div id="chat-container">
      <p>Bem-vindo ao Webchat!</p>
    </div>

    <div id="input-container">
      <input type="text" onfocusout="bloquearTrocaUser()" id="usuario" class placeholder="Usuario" required />
      <div style="width: 10px"></div>
      <input type="text" id="mensagem" placeholder="Mensagem" required />
      <button id="botao">Enviar</button>
    </div>
  </body>
</html>
